body{
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

#authContainer,
#appContainer{
    width:350px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

h1{
    text-align:center;
}
