*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

#authContainer,
#appContainer{
    width:100%;
    max-width:500px;
    background:#1e293b;
    border-radius:20px;
    padding:25px;
    box-shadow:0 0 25px rgba(0,0,0,.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

h3{
    margin-top:25px;
    margin-bottom:15px;
}

input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    margin-bottom:10px;
    background:#334155;
    color:white;
    font-size:16px;
}

input::placeholder{
    color:#94a3b8;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.2s;
    margin-bottom:10px;
}

button:hover{
    background:#1d4ed8;
}

#logoutBtn{
    background:#dc2626;
}

#logoutBtn:hover{
    background:#b91c1c;
}

#welcomeText{
    text-align:center;
    margin-bottom:20px;
    color:#cbd5e1;
}

#message{
    margin-top:10px;
    text-align:center;
    color:#22c55e;
}

#statusMessage{
    min-height:20px;
    margin-top:10px;
    margin-bottom:15px;
    text-align:center;
    font-weight:bold;
}

#watchlist{
    list-style:none;
    padding:0;
}

#watchlist li{
    background:#334155;
    border-radius:12px;
    padding:14px;
    margin-bottom:10px;
    font-weight:bold;
}
.subtitle{
    text-align:center;
    color:#94a3b8;
    margin-bottom:20px;
}

.card{
    background:#0f172a;
    padding:18px;
    border-radius:16px;
    margin-bottom:15px;
}

.headerCard{
    margin-bottom:15px;
}

#watchlist li{
    background:#475569;
    border-radius:12px;
    padding:14px;
    margin-bottom:10px;
    font-weight:bold;
    font-size:16px;
}
.tickerCard{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.tickerSymbol{
    font-size:20px;
    font-weight:bold;
}

.tickerSubtitle{
    color:#94a3b8;
    font-size:12px;
    margin-top:4px;
}

.deleteBtn{
    width:auto;
    background:#dc2626;
    padding:10px 14px;
    margin:0;
}

.deleteBtn:hover{
    background:#b91c1c;
}
